extends layout 

block content
  .container
    if email
      h2.welcome-header Hello, #{email}
      if message
        .alert.alert-success
          p #{message}
      .btn-container
        form(action='/logout' method='post')
          input.btn.btn-primary(type='submit' value='Logout')          
    else
      h2.welcome-header Hello, Stranger  
      .btn-container
        a.btn.btn-primary(href='/login') Login
        a.btn.btn-primary(href='/signup') Signup
  
