extends layout 

block content
  .container
    h2.page-header Register
    form(method='post', action='/users/register', enctype='multipart/form-data')
      .form-group
        label Email
        input.form-control(name='email', type='text', placeholder='Enter Email')
      .form-group
        label Password
        input.form-control(name='password', type='text', placeholder='Enter Passoword')
      .form-group
        label Confirm Password
        input.form-control(name='password2', type='text', placeholder='Confirm Passoword')
      input.btn.btn-primary(type='submit', name='submit', value='Register')
  
