extends layout 

block content
  .container
    h2.page-header Sign up
    if errors
      .alert.alert-danger
        ul
          each error in errors
            li #{error.msg}
    form(method='post', action='/signup')
      .form-group
        label Email
        input.form-control(name='email', type='text', placeholder='Enter Email')
      .form-group
        label Password
        input.form-control(name='password', type='password', placeholder='Enter Password')
      .form-group
        label Confirm Password
        input.form-control(name='password2', type='password', placeholder='Confirm Password')
      input.btn.btn-primary(type='submit', value='Register')
  
